body{margin: 0;height: 100%}
img{display: block;}
a{display: block;}
html{height: 100%}


@-webkit-keyframes slide{
	0%		{opacity: 1;-webkit-transform:translate3d(0,0,0) scale(1);}
	5%		{opacity: 1;-webkit-transform:translate3d(-30%,0,0) scale(1);}
	10%		{opacity: 1;-webkit-transform:translate3d(0,0,0) scale(1);}
	15%		{opacity: 1;-webkit-transform:translate3d(30%,0,0) scale(1);}
	20%		{opacity: 1;-webkit-transform:translate3d(0,0,0) scale(1);}
	25%		{opacity: 1;-webkit-transform:translate3d(-30%,0,0) scale(1);}
	30%		{opacity: 1;-webkit-transform:translate3d(0,0,0) scale(1);}
	35%		{opacity: 1;-webkit-transform:translate3d(30%,0,0) scale(1);}
	40%		{opacity: 1;-webkit-transform:translate3d(0,0,0) scale(1);}
	99%		{opacity: 1;-webkit-transform:translate3d(0,0,0) scale(1);}
	100%	{opacity: 0;-webkit-transform:translate3d(0,0,0) scale(0);}
}
@-webkit-keyframes shade{
	0%		{opacity: 1}
	100%	{opacity: 0}
}

.page1{position: fixed;height: 100%;overflow: hidden;top: 0;left: 0;width: 100%}
	.p1_kv1{height: 100%}
	.logo{position: fixed;top: 0}
	.p1_txt{position: absolute;top: 20%;left: 5%;width: 37%;z-index: 12}
	.guanwang1{width: 70%;margin: 4%}
	.enter360{position: absolute;top: 87%;left: 21%;width: 58%;z-index: 13}
	.p1_car{position: absolute;top: 38%;left: 0;width: 200%}
	.p1_baolai{width: 50%;float: left;}
	.p1_sportline{width: 50%;float: left;}
	.p1_slide{position: absolute;top: 76%;left: 43%;width: 16%;z-index: 14;
		-webkit-animation:shade .5s 3.5s 1 linear forwards;}
	.p1_slideh{margin:14% 34%;-webkit-animation:slide 3s 1s 1 linear forwards;}
	.p1_left{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 11}
	.p1_right{position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: none;z-index: 11}

#show360{position: relative;}
	.img_box{position: absolute;top: 11%;left: 7%;width: 86%;display: none;}
		.img_box>img{position: relative;width: 100%}
			.biao_box1{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
			.biao_box1 .biao1{position: absolute;top: 56%;left: 4%;width: 10%;height: 10%}
			.biao_box1 .biao2{position: absolute;top: 68%;left: 21%;width: 10%;height: 10%}
			.biao_box1 .biao3{position: absolute;top: 47%;left: 34%;width: 10%;height: 10%}
			.biao_box1 .biao4{position: absolute;top: 56%;left: 88%;width: 10%;height: 10%}
			.biao_box2{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
			.biao_box2 .biao1{position: absolute;top: 59%;left: 15%;width: 10%;height: 10%}
			.biao_box2 .biao2{position: absolute;top: 68%;left: 34%;width: 10%;height: 10%}
			.biao_box2 .biao3{position: absolute;top: 47%;left: 46%;width: 10%;height: 10%}
			.biao_box3{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
			.biao_box3 .biao1{position: absolute;top: 60%;left: 42%;width: 10%;height: 10%}
			.biao_box3 .biao2{position: absolute;top: 68%;left: 54%;width: 10%;height: 10%}
			.biao_box3 .biao3{position: absolute;top: 47%;left: 58%;width: 10%;height: 10%}
			.biao_box4{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
			.biao_box4 .biao1{position: absolute;top: 60%;left: 69%;width: 10%;height: 10%}
			.biao_box5{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
			.biao_box5 .biao1{position: absolute;top: 61%;left: 62%;width: 10%;height: 10%}
			.biao_box5 .biao2{position: absolute;top: 65%;left: 48%;width: 10%;height: 10%}
			.biao_box5 .biao3{position: absolute;top: 46%;left: 39%;width: 10%;height: 10%}
			.biao_box6{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
			.biao_box6 .biao1{position: absolute;top: 58%;left: 81%;width: 10%;height: 10%}
			.biao_box6 .biao2{position: absolute;top: 65%;left: 63%;width: 10%;height: 10%}
			.biao_box6 .biao3{position: absolute;top: 46%;left: 51%;width: 10%;height: 10%}
			.biao_box7{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
			.biao_box7 .biao2{position: absolute;top: 64%;left: 70%;width: 10%;height: 10%}
			.biao_box7 .biao3{position: absolute;top: 46%;left: 61%;width: 10%;height: 10%}
			.biao_box7 .biao4{position: absolute;top: 48%;left: 3%;width: 10%;height: 10%}
			.biao_box8{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
			.biao_box8 .biao2{position: absolute;top: 60%;left: 70%;width: 10%;height: 10%}
			.biao_box8 .biao3{position: absolute;top: 46%;left: 65%;width: 10%;height: 10%}
			.biao_box8 .biao4{position: absolute;top: 63%;left: 1%;width: 10%;height: 10%}
			.biao_box9{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
			.biao_box9 .biao3{position: absolute;top: 46%;left: 62%;width: 10%;height: 10%}
			.biao_box9 .biao4{position: absolute;top: 77%;left: 18%;width: 10%;height: 10%}
			.biao_box10{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
			.biao_box10 .biao3{position: absolute;top: 46%;left: 28%;width: 10%;height: 10%}
			.biao_box10 .biao4{position: absolute;top: 77%;left: 48%;width: 10%;height: 10%}
			.biao_box11{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
			.biao_box11 .biao2{position: absolute;top: 53%;left: 19%;width: 10%;height: 10%}
			.biao_box11 .biao3{position: absolute;top: 44%;left: 25%;width: 10%;height: 10%}
			.biao_box11 .biao4{position: absolute;top: 76%;left: 76%;width: 10%;height: 10%}
			.biao_box12{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
			.biao_box12 .biao2{position: absolute;top: 59%;left: 19%;width: 10%;height: 10%}
			.biao_box12 .biao3{position: absolute;top: 46%;left: 28%;width: 10%;height: 10%}
			.biao_box12 .biao4{position: absolute;top: 62%;left: 90%;width: 10%;height: 10%}
	.goldcarbtn{position: absolute;top: 82%;left: 3%;width: 19%;height: 6%}
	.redcarbtn{position: absolute;top: 82%;left: 23%;width: 19%;height: 6%}
	.blackcarbtn{position: absolute;top: 91%;left: 3%;width: 19%;height: 6%}
	.whitecarbtn{position: absolute;top: 91%;left: 23%;width: 19%;height: 6%}
	.goinside{position: absolute;top: 68%;left: 73%;width: 24%;height: 29%}
	.goldcar,.redcar,.blackcar,.whitecar{position: absolute;top: 0;left: 0;display: none;
		width: 100%;height: 100%}
	.p2_biao{position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: none;}
		/*.p2_biao div{display: none;}*/
		#biao1.show{display: block;}
		#biao2.show{display: block;}
		#biao3.show{display: block;}
		#biao4.show{display: block;}
	.p2_close{position: absolute;top: 0;right: 0;z-index: 10}
	.prev{position: absolute;top: 35%;left: 0;z-index: 10}
	.next{position: absolute;top: 35%;right: 0;-webkit-transform:rotateZ(180deg);z-index: 10}

.inside{position: relative;}

#bottom{position: relative;}
	form{position: absolute;top: 0;margin: 1rem 1rem 0 1rem;}
	form>label{display: block;margin-top: .5rem}
	.shijia{position: absolute;top: 1rem;left: 1.5rem;width: 5rem;background-size: auto 79%;height: 2rem;
		background-image: url(../img/unchecked.png);background-position: top;background-repeat: no-repeat;}
		.shijia>img{position: absolute;}
	.tvcbtn{position: absolute;top: 1rem;left: 7.5rem;width: 5rem;background-size: auto 79%;height: 2rem;
		background-image: url(../img/unchecked.png);background-position: top;background-repeat: no-repeat;}
		.tvcbtn>img{position: absolute;}
	.canshu{position: absolute;top: 1rem;left: 13.5rem;width: 5rem;background-size: auto 79%;height: 2rem;
		background-image: url(../img/unchecked.png);background-position: top;background-repeat: no-repeat;}
		.canshu>img{position: absolute;}
	input,select{background-color: #fff;
		-webkit-appearance: none;font-size: .8rem;color: #000;
	box-sizing: border-box;height:1.5rem;width: 100%;border: 1px solid #fff;
	padding-left: .5rem;border-radius: 3px;}
	select{background-image: url(../img/sel.png);background-repeat: no-repeat;
		background-size: auto 70%;background-position: 96%;}
	#box {display: -webkit-box;margin-top: .5rem}
	#box select{-webkit-box-flex: 1;width: 48%;display: block;}
	.topic{position: absolute;top: 0;left: 0;width: 100%;z-index: 10}
	.topic span,.canshu span{color: #fff;position: absolute;margin: 8% 18%;font-size: .8rem;white-space: nowrap;}
	.submit{margin-top: 1.5rem}
	.checked{background-image: url(../img/checked.png)}
	.txt{display: none;position: absolute;top: 10%;left: 0;width: 100%;height: 50%}
	.show{display: block;}
	#content{position: absolute;top: 0;left: 0;width: 100%;height: 100%}

	#slider{position: absolute;top: 0;left: 0;margin: 23% 8%;width: 84%}
	#slider2{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
	.hd{margin: 6% 17%;white-space: nowrap;text-align: center;}
	.hd>span{display: inline-block;width: 5%;height: .6rem;
	border-radius: 50%;background: #afafaf;margin: 1%;-webkit-transition: all .6s ease;}
	.hd>span.on{background: #870303}
	.tvcpic{}
	.video{display: none;height: 8.9375rem;width: 100%;background: #000}

	.p2_block{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;background: #000;
		opacity: .8;display: none;}

