html, body { height: 100%; -webkit-tap-highlight-color: transparent; }
html{font-size: 90.5%;}
@media screen and (min-device-width:321px) and (max-device-width:375px){
    html{font-size: 110%;}   
}
@media screen and (min-device-width:376px) and (max-device-width:414px){
    html{font-size: 120%;}
}
@media screen and (min-device-width:415px) and (max-device-width:768px) {
    html{font-size: 200%;}
    
}
body { margin: 0; font-family: Arial,Verdana; background-color: #fff; }
#screen { overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical;position: relative;}
/*全屏*/
#screen{position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0}
/*居中*/
.p1_kv,.p2_kv,.p3_kv,.p4_kv,.p5_kv,.p6_kv,.p7_kv{position: absolute;top: 50%;left: 0;width: 100%;
  -webkit-transform:translateY(-50%);}
@media only screen and (min-width: 1000px) { #screen { position: relative; width: 480px; margin: 0 auto; } }
img{display: block;width: 100%}
.logo{position: absolute;width: 100%;z-index: 101;top: 0;left: 0}
.logo2{position: relative;width: 100%;z-index: 101;height: 3.5rem;background: #fff}
@-webkit-keyframes arrowup{
  0%    {opacity: 0;-webkit-transform:translate3d(0,0,0);}
  70%   {opacity: 1;-webkit-transform:translate3d(0,-30%,0);}
  100%  {opacity: 0;-webkit-transform:translate3d(0,-60%,0);}
}
@-webkit-keyframes arrowdown{
  0%    {opacity: 0;-webkit-transform:translate3d(0,-30%,0);}
  70%   {opacity: 1;-webkit-transform:translate3d(0,0,0);}
  100%  {opacity: 0;-webkit-transform:translate3d(0,30%,0);}
}
@-webkit-keyframes fadein{
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
.page1,.page2,.page3,.page4,.page5,.page6,.page7,.page8,.page9,.page55{position: absolute;top: 0;
  left: 0;bottom: 0;right: 0;overflow: hidden;}
#arrowup{position: absolute;bottom: 4%;left: 45%;width: 10%;z-index: 200;
  -webkit-animation:arrowup 2s 1s infinite ease forwards;}
#page_box{position: relative;overflow: hidden;-webkit-box-flex:1;}
#share{position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;display: none;
  z-index: 9999999}

.shijia{z-index: 999;background: rgba(0,0,0,0.8);position: absolute;top: 0;left: 0;width: 100%;
  height: 100%;display: none;opacity: 0}
  .zhuce{margin-top: 10%;}
  .form{margin: 5% 9%;}
    .form>div{margin-top: 0.5rem;position: relative;}
  .box{display: -webkit-box}
  .box>div,.box>select{-webkit-box-flex:1;display: block;}
  input,select{background-color: transparent;opacity: 1;
    -webkit-appearance: none;font-size: 1rem;color: #fff;
  box-sizing: border-box;height:2em;width: 100%;border: 1px solid #fff;
  padding-left: 2%;border-radius: 0;}
  select{background-image: url(../img/sel.png);background-repeat: no-repeat;
    background-size: auto 40%;background-position: 97%;}
    .man,.mobile{height: 50%;width: auto;position: absolute;top: 25%;left: 5%;}
    .xingming,.shouji{position: absolute;top: 0;left: 14%;font-size: 1rem;line-height: 2rem;
      margin: 0;color: #fff}
    .sex{height: 2rem;line-height: 2rem;color: #fff;text-align: center;border: 1px solid #fff}
    .sex.on{background: #e41a1e;border: 1px solid #e41a1e}
    .check{position: absolute;top: 6%;left: 1%;width: 5%;}
    .submit{position: absolute;top: 0;left: 0;width: 50%;height: 100%}
    .back{position: absolute;top: 0;right: 0;width: 50%;height: 100%}
    .alerttxt{text-align: center;font-size: 1rem;line-height: 1.5rem;color: #fff;height: 1.5rem;
      white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    .check{display: none;}
    .shijia_check.on .check{display: block;}

@-webkit-keyframes leftin{
  0%    {opacity: 1;-webkit-transform:translateX(100%);}
  100%  {opacity: 1;-webkit-transform:translateX(0);}
}
.page1{z-index: 100;}
  .p1_kv{top: 54%}
  .p1_txt{position: absolute;bottom: 6%;right: 0;width: 50%;display: -webkit-box;opacity: 0}
    .show .p1_txt{-webkit-animation:leftin 0.7s 0s ease forwards;}
    .p1_txt>div{-webkit-box-flex:1;background: rgba(0,0,0,0.78);border-right: 1px solid #fff}
    .p1_txt>div.on{background: rgba(359,89,89,0.78);}
    .p1_hand{position: absolute;top: 67%;left: 14%;width: 25%;
      -webkit-animation:blink 0.7s 0s ease infinite;display: none;}
  .p1_title{position: absolute;top: 10%;left: 5.5%;width: 89%;}
    .p1_title>div{display: none;}
      .p1_title>div:first-child{margin-top: -5%}
    .p1_title>div.on{display: block;}
  .arrow{position: absolute;top: 40%;left: 42.7%;width: 14.6%;display: none;}
    .arrowup{position: absolute;top: 0;left: 0;width: 100%;
      -webkit-animation:arrowup 2s 1s infinite ease forwards;}
  .p1_shijia{position: absolute;top: 100%;left: 35%;width: 30%;}

.page2{z-index: 90;display: none;}
.page2.show{display: block;}
  .p2_kv{top: 54%}
  .page2>div{display: none;}
  .p2_back,.p2_back2,.p2_back3{position: absolute;bottom: 7%;left: 58%;width: 22%;z-index: 2}
  .p2_txt{position: absolute;top: 23%;left: 0;width: 100%;}
  .p2_shijia{position: absolute;bottom: 7%;left: 20%;width: 30%;;z-index: 2}
  .swiper-container p{color: #fff;background: rgba(156,173,182,0.8);position: absolute;
    font-size: 0.7rem;line-height: 1.2rem;height: 1.2rem;width: 2.2rem;text-align: center;margin: 0}
  .swiper-container p.on{background: rgba(359,89,89,0.78);}
  .p2_pic1 .p2_btn1{top: 47%;left: 50%;}
  .p2_pic1 .p2_btn2{top: 52%;left: 33%;}
  .p2_pic1 .p2_btn3{top: 60%;left: 49%;}
  .p2_pic1 .p2_btn4{top: 56%;left: 3%;}
  .p2_pic1 .p2_btn5{top: 53%;left: 76%;}

  .p2_pic2 .p2_btn1{top: 46%;left: 50%;}
  .p2_pic2 .p2_btn2{top: 52%;left: 33%;}
  .p2_pic2 .p2_btn3{top: 58%;left: 59%;}
  .p2_pic2 .p2_btn4{top: 56%;left: 6%;}
  .p2_pic2 .p2_btn5{top: 52%;left: 82%;}

  .p2_pic3 .p2_btn1{top: 48%;left: 36%;}
  .p2_pic3 .p2_btn2{top: 53%;left: 60%;}
  .p2_pic3 .p2_btn3{top: 60%;left: 45%;}
  .p2_pic3 .p2_btn4{top: 55%;left: 86%;}
  .p2_pic3 .p2_btn5{top: 57%;left: 5%;}

  .p2_pic4 .p2_btn1{top: 44%;left: 35%;}
  .p2_pic4 .p2_btn2{top: 50%;left: 60%;}
  .p2_pic4 .p2_btn3{top: 51%;left: 4%;}
  .p2_pic4 .p2_btn4{top: 62%;left: 9%;}
  .p2_pic4 .p2_btn5{top: 57%;left: 46%;}

  .p2_pic5 .p2_btn1{top: 39%;left: 34%;}
  .p2_pic5 .p2_btn2{top: 58%;left: 81%;}
  .p2_pic5 .p2_btn3{top: 50%;left: 6%;}
  .p2_pic5 .p2_btn4{top: 62%;left: 8%;}
  .p2_pic5 .p2_btn5{top: 52%;left: 57%;}

.p2_2{background: #000;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
  .address{margin: 20% 5% 10% 5%;width: 40%}
  .addressbtn{width: 40%;float: right;background: #e41a1e;color: #fff;height: 2rem;font-size: 1rem;
    line-height: 2rem;text-align: center;margin: 20% 5% 10% 0}
  #l-map{width: 100%;height: 80%;overflow: hidden;}
  .p2_back3,.p2_3 .p2_shijia{opacity: 0;z-index: 1}
  .p2_3.move .p2_back3,.p2_3.move .p2_shijia{-webkit-animation:fadein 1s 4.5s ease forwards;z-index: 3}
@-webkit-keyframes upin{
  0%    {opacity: 0;-webkit-transform:translate3d(0,1rem,0);}
  100%  {opacity: 1;-webkit-transform:translate3d(0,0,0);}
}
@-webkit-keyframes earthout{
  0%    {opacity: 1;-webkit-transform:scale(1)}
  25%    {opacity: 1;-webkit-transform:scale(2)}
  100%  {opacity: 0;-webkit-transform:scale(5)}
}
@-webkit-keyframes fade4out{
  0%    {opacity: 0.4;}
  100%  {opacity: 0;}
}
@-webkit-keyframes fadeout{
  0%    {opacity: 1;}
  100%  {opacity: 0;}
}
@-webkit-keyframes fadeinout{
  0%    {opacity: 0;}
  10%    {opacity: 1;}
  70%    {opacity: 1;}
  100%  {opacity: 0;}
}
@-webkit-keyframes carin{
  0%    {opacity: 1;-webkit-transform:translate3d(0,200%,0);}
  100%  {opacity: 1;-webkit-transform:translate3d(0,0,0);}
}
@-webkit-keyframes fadeoutin{
  0%    {opacity: 1;}
  10%    {opacity: 0;}
  70%    {opacity: 0;}
  100%  {opacity: 1;}
}
@-webkit-keyframes round{
  0%    {opacity: 0;-webkit-transform:scale(0);}
  20%    {opacity: 1;-webkit-transform:scale(0.2);}
  100%  {opacity: 1;-webkit-transform:scale(1);}
}
.p2_3{background: #000;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
  .p2_earth{position: relative;opacity: 1;z-index: 2}
  .p2_bg{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #fff;opacity: 0;}
  .p2_bg2{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #fff;opacity: 0;}
  .p2_2txt1{position: absolute;top: 35%;left: 14.2%;width: 70.625%;opacity: 0;z-index: 3}
    .show .p2_2txt1{-webkit-animation:upin 1s 0s ease forwards;}
  .p2_2txt2{position: absolute;top: 43%;left: 19.7%;width: 60.625%;opacity: 0;z-index: 3}
    .show .p2_2txt2{-webkit-animation:upin 1s 0.5s ease forwards;}
  .p2_2txt3{position: absolute;top: 50%;left: 7.9%;width: 85.156%;opacity: 0;z-index: 3}
    .show .p2_2txt3{-webkit-animation:upin 1s 1s ease forwards;}
  .arrowdown{position: absolute;bottom: 5%;left: 45%;width: 10.46%;z-index: 3}
  .arrowarrow{position: absolute;top: 44%;left: 33%;width: 30%;}
    .show .arrowarrow{-webkit-animation:arrowdown 1.5s 0s ease infinite;}
  .p2_block{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;
    opacity: 0.4;z-index: 2}
  .p2_road{position: absolute;top: 48%;left: 0;width: 100%;-webkit-transform:translateY(-50%);
    opacity: 0;z-index: 2}
    .p2_car{position: absolute;top: 35%;left: 37.7%;width: 24.5%;opacity: 0}
    .p2_round{position: absolute;top: 0;left: 0;width: 100%;opacity: 0;}
    .p2_line{position: absolute;top: 20%;left: 20%;width: 60%;opacity: 0}
    .p2_2btn{opacity: 0;}
    .move .p2_earth{-webkit-animation:earthout 1.5s 0s linear forwards;}
    .move .p2_bg{-webkit-animation:fadeinout 2s 0s ease forwards;}
    .move .p2_2txt{-webkit-animation:fadeout 0.5s 0s ease forwards;}
    .move .p2_block{-webkit-animation:fade4out 1s 0s ease forwards;}
    .move .arrowdown{-webkit-animation:fadeout 0.5s 0s ease forwards;}
    .move .p2_road{-webkit-animation:fadein 1s 1.5s ease forwards;}
    .move .p2_car{-webkit-animation:carin 1s 1.5s ease forwards;}
    .move .p2_road>img{-webkit-animation:fadeout 1s 2.5s ease forwards;}
    .move .p2_bg2{-webkit-animation:fadein 0.5s 2.8s ease forwards;}
    .move .p2_round{-webkit-animation:round 1s 3s ease forwards;}
    .move .p2_line{-webkit-animation:fadein 1s 3.7s ease forwards;}
    .move .p2_2btn{-webkit-animation:fadein 1s 4s ease forwards;}
    .move .p2_backbtn{-webkit-animation:fadein 1s 4.5s ease forwards;}

  .p2_2btn>div{position: absolute;width: 16%;}
    .p2_2btn>div>img:last-child{display: none;position: absolute;top: 0;left: 0;}
    .p2_2btn>div.on>img:last-child,.p2_2btn>div>img:first-child{display: block;}
    .p2_2btn>div.on>img:first-child{display: none;}
    .p2_2btn1{top: 11%;left: 42%;}
    .p2_2btn2{top: 30%;left: 65%;}
    .p2_2btn3{top: 47%;left: 82%;}
    .p2_2btn4{top: 68%;left: 80%;}
    .p2_2btn5{top: 84%;left: 65%;}
    .p2_2btn6{top: 88%;left: 30%;}
    .p2_2btn7{top: 78%;left: 10%;}
    .p2_2btn8{top: 53%;left: 2%;}
    .p2_2btn9{top: 30%;left: 16%;}
  .p2_img{position: absolute;top: 40%;left: 7.5%;width: 85%;height: 28%;display: none;}
    .p2_img>img{position: absolute;top: 0;left: 0;display: none;}
    .p2_close{display: block;left: 90%;width: 4%;position: absolute;top: 10%;}
  .p2_backbtn{opacity: 0}

.menu1{position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;
  background: rgba(0,0,0,0.8);z-index: 999;display: none;opacity: 0}
    .show1 .p3_menu11,.show1 .p3_menu12{display: block;}
    .show2 .p3_menu21,.show2 .p3_menu22{display: block;}
  .menu1.show2{-webkit-animation:fadein 0.3s 0s ease forwards;display: block;}
  .p3_menu11,.p3_menu21{position: absolute;bottom: 49%;left: 5%;width: 90%;display: none;}
  .p3_menu12,.p3_menu22{position: absolute;top: 54%;left: 5%;width: 90%;display: none;}
  .p3_menukuang{position: absolute;top: 0;left: 0;display: none;}
    .on .p3_menukuang{display: block;}
  .p3_back{position: absolute;bottom: 90%;left: 5%;width: 20.6%;}

@-webkit-keyframes blink{
  0%    {opacity: 0.5;}
  50%  {opacity: 1;}
  100%  {opacity: 0.5;}
}
@-webkit-keyframes carout{
  0%    {opacity: 1;-webkit-transform:scale(0.5)}
  100%  {opacity: 1;-webkit-transform:scale(1)}
}
@-webkit-keyframes light{
  0%    {opacity: 0;}
  20%  {opacity: 1;}
  50%  {opacity: 0.5;}
  80%  {opacity: 0.1;}
  90%  {opacity: 0.5;}
  100%  {opacity: 1;}
}
@-webkit-keyframes deng{
  0%    {opacity: 0;}
  20%  {opacity: 0.7;}
  80%  {opacity: 0.2;}
  100%  {opacity: 1;}
}
@-webkit-keyframes fadeinandout{
  0%    {opacity: 0;}
  50%  {opacity: 1;}
  100%  {opacity: 0;}
}

@-webkit-keyframes enter{
  0%    {opacity: 0;z-index: 1}
  20%    {opacity: 0;z-index: 103}
  100%  {opacity: 1;z-index: 103}
}
.p2_4{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.p3_kv{z-index: 102}
.p3_txt{position: absolute;top: 13%;left: 0;width: 100%;z-index: 1}
  .on .p3_txt{-webkit-animation:enter 1s 4s ease forwards;}
.p2_4.on .logo{-webkit-animation:enter 1s 4s ease forwards;}
.p3_shijia{position: absolute;bottom: 7%;left: 20%;width: 30%;z-index: 1;opacity: 0}
  .on .p3_shijia{-webkit-animation:enter 1s 4s ease forwards;}
.p3_back2,.p3_back3{position: absolute;bottom: 7%;left: 58%;width: 22%;z-index:1}
  .on .p3_back2{-webkit-animation:enter 1s 4s ease forwards;;}
.p3_car{position: absolute;top: 50%;left: 10%;width: 80%;z-index: 103}
  .p3_car>img{opacity: 0;}
  .on .p3_car>img{-webkit-animation:fadein 1.2s 4s ease forwards;}
  .p3_deng{position: absolute;top: 36%;left: 7%;width: 87.54%;opacity: 0;z-index: 1212}
    .on .p3_deng{-webkit-animation:light 2.5s 2s linear forwards;}
.p3_block{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;
  opacity: 1;z-index: 102}
  .on .p3_block{-webkit-animation:fadeout 1.5s 4s ease forwards;}
.p3_halo{position: absolute;top: 35%;left: 0;width: 100%;opacity: 0;}
  .on .p3_halo{-webkit-animation:fadein 0.3s 0.4s linear forwards;}
.p3_lightbg{position: fixed;top: 53%;left: 0;width: 100%;z-index: 104;
  -webkit-transform:translateY(-50%);}
  .on .p3_lightbg{-webkit-animation:fadeout 1s 1s ease forwards;}
  .p3_light{position: absolute;top: 36.5%;left: 0;width: 100%;opacity: 0;}
    .on .p3_light{-webkit-animation:deng 0.5s 0s linear forwards;}
  .p3_tips{position: absolute;top: 59%;left: 0;width: 100%;}
    .on .p3_tips{-webkit-animation:fadeout 0.5s 0s ease forwards;}
  .p3_hand{position: absolute;top: 46%;left: 70%;width: 11.7%;
    -webkit-animation:blink 1s 0s ease infinite;}
    .on .p3_hand img{-webkit-animation:fadeout 0.2s 0s ease forwards;}

.p2_5{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
  .p3_carcolor{position: absolute;top: 50%;left: 10%;width: 80%;}
    .p3_carcolor img{position: absolute;top: 0;left: 0;opacity: 0;}
  .p3_color{position: absolute;top: 10%;left: 9%;width: 80.6%;z-index: 1}
    .p3_color>div{position: absolute;top: 49%;width: 12.7%;height: 36%;border: none;}
      .p3_color>div.on{border: 1px solid #e22226}
    .p3_color>div:nth-child(2){left: 0}
    .p3_color>div:nth-child(3){left: 17.2%}
    .p3_color>div:nth-child(4){left: 34.7%}
    .p3_color>div:nth-child(5){left: 51.8%}
    .p3_color>div:nth-child(6){left: 69.3%}
    .p3_color>div:nth-child(7){right: 0}


















