html, body { height: 100%; -webkit-tap-highlight-color: transparent; }
html{font-size: 110%;}
@media screen and (max-device-width:414px) 
{
    html{font-size: 120%;}
    
}
@media screen and (max-device-width:375px) 
{
    html{font-size: 110%;}
    
}
@media screen and (max-device-width:320px) 
{
    html{font-size: 90.5%;}
    
}
body { margin: 0; font-family: Arial,Verdana; background-color: #fff; }
#screen { overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical;position: relative;}
/*全屏*/
#screen{position: absolute;top: 0;left: 0;width: 100%;height: 100%}
/*居中*/
.p1_kv,.p2_kv,.p3_kv,.p4_kv,.p5_kv,.p6_kv,.p7_kv{position: absolute;top: 50%;left: 0;
  -webkit-transform:translateY(-50%);}
.p1{position: absolute;top: 0;left: 0;width: 100%;}
@media only screen and (min-width: 1000px) { #screen { position: relative; width: 480px; margin: 0 auto; } }
img{display: block;width: 100%}
#logo{position: absolute;width: 100%;z-index: 101;top: 0;left: 0}
@-webkit-keyframes arrowup{
  0%    {opacity: 0;-webkit-transform:translate3d(0,30%,0);}
  70%   {opacity: 1;-webkit-transform:translate3d(0,0,0);}
  100%  {opacity: 0;-webkit-transform:translate3d(0,-30%,0);}
}
@-webkit-keyframes fadein{
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
@-webkit-keyframes blink{
  0%,100%    {opacity: 0.5;}
  50%  {opacity: 1;}
}
@-webkit-keyframes fadeout{
  0%    {opacity: 1;}
  100%  {opacity: 0;}
}
.page1,.page2,.page3,.page4,.page5,.page6,.page7,.page8,.page9,.page55,.page51,.page52,.page53,.page54{position: absolute;top: 0;
  left: 0;bottom: 0;right: 0;overflow: hidden;}
  .p5{position: absolute;top: 0;left: 0;width: 100%;}
.arrowup{position: absolute;bottom: 4%;left: 47%;width: 6%;z-index: 200;opacity: 0;display: none;
  -webkit-animation:arrowup 2s 1s infinite ease forwards;}
#page_box{position: relative;overflow: hidden;-webkit-box-flex:1;}
#share{position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;display: none;
  z-index: 9999999}

.dr{position: absolute;top: 0;left: 0;width: 100%;z-index: 99999;opacity: 0;display: none;}
  .dr_pic{opacity: 0;position: absolute;top: 0;left: 0}
  .dr_1{opacity: 1}
  .dr_pic.show{-webkit-animation:fadein 0.5s 0s linear forwards;}


@-webkit-keyframes rotate{
  0%    {-webkit-transform:rotateZ(0);}
  100%  {-webkit-transform:rotateZ(360deg)}
}
#loading{z-index: 1010;position: absolute;top: 0;left: 0;width: 100%;overflow: hidden;height: 100%}
  .ld_logo{position: absolute;top: 40%;left: 35%;width: 30%;}
  .ld_circle{position: absolute;top: 0;left: 0;width: 100%;-webkit-transform-origin:50% 50%;
    -webkit-animation:rotate 1.5s 0s infinite linear;}
  .ld_txt{position: absolute;top: 34%;left: 36%;width: 20%;font-size: 0.7rem;color: #a7c3ca;white-space: nowrap;
    text-align: center;}
  .ld_txt:after{content: "%"}

@-webkit-keyframes comein{
  0%    {opacity: 1;-webkit-transform:translate3d(20%,-10%,0) scale(0);}
  60%    {opacity: 1;-webkit-transform:translate3d(15%,-10%,0) scale(0.2);}
  100%  {opacity: 1;-webkit-transform:translate3d(0,0,0) scale(1);}
}
@-webkit-keyframes upin{
  0%    {opacity: 0;-webkit-transform:translateY(-50%);}
  100%  {opacity: 1;-webkit-transform:translateY(0);}
}
.page1{z-index: 100}
  .page1 .starbox{height: 20%}
  .p1{top: -5%}
    .p1_kvlist img{position: absolute;top: 0;left: 0;width: 100%;display: none;}
    .p1_kvlist img.show{display: block;}
  .p1_txt{position: absolute;top: 17%;left: 0;width: 100%;opacity: 0}
  .show .p1_txt{-webkit-animation:upin 0.5s 1s ease forwards}
  .p1_car{position: absolute;top: 42%;left: 17%;width: 65.78%;opacity: 0}
  .show .p1_car{-webkit-animation:comein 1s 0s linear forwards;}
  .p1_circle{position: absolute;top: 65%;left: 32%;width: 36%;opacity: 0}
    .show .p1_circle{-webkit-animation:fadein 0.5s 1s ease forwards}
  .p1_qurcir{position: absolute;top: 0;left: 0;width: 100%;z-index: 3;}
    .p1_qurcir img.back{-webkit-transition:0.5s all ease;-webkit-transform:rotate(0deg)!important;}
  .p1_circenter{position: absolute;top: 0;left: 0;width: 100%;z-index: 2}
  .p1_bluecir{position: absolute;top: 0;left: 0;width: 100%;z-index: 1;display: none;}
  .p1_bluecir.blink{-webkit-animation:blink 1s 0s ease infinite forwards;}
  .p1_tips{position: absolute;top: 85%;left: 30%;width: 40%;opacity: 0}
    .show .p1_tips{-webkit-animation:blink 1s 1s ease infinite forwards;}
  /*.p1_kvtop{position: absolute;top: 0;left: 0;width: 100%;-webkit-animation:fadeout 6s 0s ease forwards;}*/

@-webkit-keyframes blink2{
  0%,100%    {opacity: 0.6;}
  50%  {opacity: 1;}
}
@-webkit-keyframes carin{
  0%    {opacity: 0;-webkit-transform:translateX(-50%);}
  100%  {opacity: 1;-webkit-transform:translateX(0);}
}
@-webkit-keyframes carout{
  0%    {opacity: 1;-webkit-transform:translateX(0);}
  20%    {opacity: 1;-webkit-transform:translateX(0);}
  100%  {opacity: 0.7;-webkit-transform:translateX(200%);}
}
@-webkit-keyframes rotatefast{
  0%    {-webkit-transform:rotateZ(0);}
  100%  {-webkit-transform:rotateZ(720deg)}
}
.page2{z-index: 90}
  .page2 .starbox{height: 30%}
  .p2_kv{top: 54%}
  .p2_car{position: absolute;top: 40%;left: 0;width: 78.1%;z-index: 1;opacity: 0;}
    .show .p2_car{-webkit-animation:carin 1s 0s ease forwards;}
    .p2_car.goin{-webkit-animation:carout 2s 0s ease forwards;}
    .p2_wheel1{position: absolute;top: 54%;left: 16%;width: 8%;}
    .p2_wheel2{position: absolute;top: 54%;left: 63.2%;width: 8%;}
    .show .p2_wheel{-webkit-animation:rotate 1s 0s ease forwards;}
    .goin .p2_wheel{-webkit-animation:rotatefast 0.6s 0s linear infinite forwards;}
  .p2_tube{position: absolute;top: 70%;left: 5%;width: 90%;z-index: 2}
    .p2_line{position: absolute;top: 0;left: 0;height: 100%;width: 0;-webkit-animation:blink 1s 0s ease infinite forwards;}
      .p2_line>img{height: 100%;}
  .p2_door{position: absolute;top: 0;width: 100%;right: 0;opacity: 0.3;
    -webkit-animation:blink2 2s 0s ease infinite forwards;}
  .p2_txt{position: absolute;top: 75%;left: 10%;width: 80%;-webkit-animation:blink 1.6s 0s ease infinite forwards;}
  .test{position: absolute;top: 20%;left: 20%;font-size: 1rem;color: #fff;width: 20%}
  .p2_stone{position: absolute;top: 39%;right: 0;width: 14.53%;z-index: 123}
@-webkit-keyframes blur{
  0%    {opacity: 0;-webkit-filter: blur(10px); }
  100%  {opacity: 1;-webkit-filter: blur(0); }
}
@-webkit-keyframes handmove{
  0%    {top:31.5%;left: 16%}
  25%    {top:31.5%;left: 37%}
  50%    {top:31.5%;left: 57%}
  75%    {top:47%;left: 45%}
  100%  {top:60%;left: 34%}
}
@-webkit-keyframes star{
  0%    {opacity: 0.3}
  30%     {opacity: 1}
  80%    {opacity: 0.3}
  100%  {opacity: 0.3}
}
@-webkit-keyframes blink3{
  0%,100%    {opacity: 1;}
  50%  {opacity: 0.65;}
}
.page3{z-index: 80}
  .page3 .starbox{height: 60%}
  .p3_kv{top: 47%}
  .block{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.4);z-index: 999}
    .p3_hand{position: absolute;top: 31.5%;left: 16%;width: 13%;}
    .show .p3_hand{-webkit-animation:handmove 1.5s 0.5s linear forwards;}

  .p3_line{position: absolute;top: 30%;left: 27%;width: 46.4%;}
    .done .p3_line{display: none;}
  .p3_txt{position: absolute;top: 18%;left: 10%;width: 80%;opacity: 0}
    .show .p3_txt{-webkit-animation:blur 1s 0s ease forwards;}
  .p3_point{position: absolute;width: 45%;z-index: 2;opacity: 0.3}
    .movie .p3_point{opacity: 1}
    .p3_point div{position: absolute;width: 50%;text-align: center;opacity: 0;}
    .p3_point span{font-size: 0.7rem;color: #a7c3ca}
    .p3_point.now{-webkit-animation:fadein 0.05s 0s ease forwards!important;}
      .done .p3_point{-webkit-animation:blink3 2s 0s ease infinite!important;}
    .p3_point1{top: 21%;left: 8%;z-index: 6}
      .p3_point1 div{top: 66%;left: 20%}
      .done .p3_point1 div{-webkit-animation:fadein 1s 0s ease forwards;}
      .star .p3_point1{-webkit-animation:star 3s 0s ease infinite;} 
    .p3_point2{top: 21%;left: 29%;z-index: 5}
      .p3_point2 div{top: 23%;left: 20%}
      .done .p3_point2 div{-webkit-animation:fadein 1s 0.3s ease forwards;}
      .star .p3_point2{-webkit-animation:star 3s 0.3s ease infinite;} 
    .p3_point3{top: 21%;left: 49%;z-index: 4}
      .p3_point3 div{top: 43%;left: 41%}
      .done .p3_point3 div{-webkit-animation:fadein 1s 0.6s ease forwards;}
      .star .p3_point3{-webkit-animation:star 3s 0.6s ease infinite;} 
    .p3_point4{top: 36%;left: 37%;z-index: 3}
      .p3_point4 div{top: 43%;left: 41%}
      .done .p3_point4 div{-webkit-animation:fadein 1s 0.9s ease forwards;}
      .star .p3_point4{-webkit-animation:star 3s 0.9s ease infinite;} 
    .p3_point5{top: 49%;left: 26%;z-index: 2}
      .p3_point5 div{top: 45%;left: 46%}
      .done .p3_point5 div{-webkit-animation:fadein 1s 1.2s ease forwards;}
      .star .p3_point5{-webkit-animation:star 3s 1.2s ease infinite;} 

  .p3_bridge{position: absolute;width: 20%;z-index: 1;display: none;}
    /*.movie .p3_bridge{display: block;opacity: 0}*/
    .p3_bridge1{top: 31.3%;left: 29%;}
      /*.movie .p3_bridge1{-webkit-animation:fadein 0.2s 0.8s ease forwards;}*/
    .p3_bridge2{top: 31.3%;left: 50%;}
      /*.movie .p3_bridge2{-webkit-animation:fadein 0.2s 1s ease forwards;}*/
    .p3_bridge3{top: 39%;left: 50.9%;-webkit-transform:rotateZ(-65deg);width: 26%;}
      /*.movie .p3_bridge3{-webkit-animation:fadein 0.2s 1.2s ease forwards;}*/
    .p3_bridge4{top: 53%;left: 38%;-webkit-transform:rotateZ(-65deg);width: 28%;}
      /*.movie .p3_bridge4{-webkit-animation:fadein 0.2s 1.5s ease forwards;}*/

    .p3_tips{position: absolute;top: 65%;left: 15%;width: 70%;-webkit-animation:blink 1.2s 0s ease infinite forwards;}

    .p3_btn{position: absolute;width: 16%;height: 9%;}
      .done .p3_btn{z-index: 10}
      .p3_btn1{top: 28%;left: 22%;height: 12%}
      .p3_btn2{top: 24%;left: 42%;height: 12%}
      .p3_btn3{top: 28%;left: 63%;width: 22%}
      .p3_btn4{top: 43%;left: 50%;width: 22%}
      .p3_btn5{top: 56%;left: 40%;width: 25%}

  .p3_window{position: absolute;top: 0;left: 0;width: 100%;z-index: 999;background: rgba(0,0,0,0.8);height: 100%;
    display: none;opacity: 0}
    .p3_kuang{position: absolute;top: 5%;left: 0;width: 100%;}
    .p3_kuang img{height: 100%;}
    .p3_pic{position: absolute;top: 20%;left: 5.5%;width: 88%;display: none;}
    .p3_close{position: absolute;top: 5%;right: 6%;width: 10%;height: 6%;}
@-webkit-keyframes wobble{
0%{-webkit-transform:translateX(0%)}
10%{-webkit-transform:translateX(-25%) rotate(-5deg)}
20%{-webkit-transform:translateX(20%) rotate(3deg)}
30%{-webkit-transform:translateX(-15%) rotate(-3deg)}
40%{-webkit-transform:translateX(10%) rotate(2deg)}
50%{-webkit-transform:translateX(-5%) rotate(-1deg)}
60%{-webkit-transform:translateX(0%)}
100%{-webkit-transform:translateX(0%)}
}
@-webkit-keyframes carout2{
  0%  {opacity: 1;-webkit-transform:scale(1);}
  100%  {opacity: 0;-webkit-transform:scale(2);}
}
@-webkit-keyframes twick{
  0%  {opacity: 0.5;-webkit-transform:scale(0.5);}
  30%  {opacity: 1;-webkit-transform:scale(1.3);}
  60%  {opacity: 0.5;-webkit-transform:scale(0.5);}
  100%  {opacity: 0;-webkit-transform:scale(0);}
}
.page4{z-index: 70}
  .p4_kv{top: 47%}
  .p4_wall{position: absolute;top: 47%;left: 0;width: 100%;-webkit-transition:0.5s all ease;}
    .p4_wall.left{-webkit-transform:translateX(-1%);}
    .p4_wall.right{-webkit-transform:translateX(1%);}
  .p4_car{position: absolute;top: 49%;left: 19%;width: 62%;-webkit-transform-origin:50% 50%;}
  .p4_hand{position: absolute;top: 75%;left: 42%;width: 16%;}
    .show .p4_hand{-webkit-animation:wobble 2.4s 1s infinite ease both;}
    .move .p4_hand{-webkit-animation:fadeout 1s 0s ease forwards;}
  .p4_txt{position: absolute;top: 88%;left: 20%;width: 60%;}
    .move .p4_txt{-webkit-animation:fadeout 1s 0s ease forwards;}
  .p4_test{position: absolute;top: 50%;left: 20%;font-size: 0.7rem;color: #fff;}
  .p4_moon{position: absolute;top: 20%;left: 30%;width: 39.37%;-webkit-animation:rotate 20s 0s linear infinite;}
  .starbox{position: absolute;top: 0;left: 0;width: 100%;height: 40%}
    .starbox div{position: absolute;width: 22%;-webkit-transform-origin:55% 60%;z-index: 123}
      .show .star1{top: 19%;left: 52%;-webkit-animation:twick 4s 0s linear infinite;}
      .show .star2{top: 50%;left: 66%;-webkit-animation:twick 4s 0.3s linear infinite;}
      .show .star3{top: 30%;left: 10%;-webkit-animation:twick 4s 0.6s linear infinite;}
      .show .star4{top: 94%;left: 50%;-webkit-animation:twick 4s 0.9s linear infinite;}
      .show .star5{top: 60%;left: 10%;-webkit-animation:twick 4s 1.2s linear infinite;}
@-webkit-keyframes rotatein{
  0%    {opacity: 0.5;-webkit-transform:scale(0) rotateZ(0) translateY(-50%);-webkit-transform-origin:50% 20%;}
  100%    {opacity: 1;-webkit-transform:scale(1) rotateZ(1080deg) translateY(0%);-webkit-transform-origin:50% 50%;}
}
.page5{z-index: 79;top: -7%}
  .page5 .starbox{height: 30%}
  .page5{-webkit-transform-origin:50% 20%;opacity: 0}
  .page5.show{-webkit-animation:rotatein 1s 0s linear forwards;}
  #iSlider-effect-wrapper{position: absolute;top: 30%;left: 11%;width: 70%;}
  .p5_photo{position: absolute;top: 24%;left: 62%;width: 36%;z-index: 100}
  .p5_txt{position: absolute;top: 60%;right: 20%;width: 20%;text-align: right;font-size: 0.9rem;font-weight: bold;
    white-space: nowrap;}
    .page5_s{opacity: 0;top: -7%}
.page51{z-index: 78}
.page52{z-index: 77}
.page53{z-index: 76}
.page54{z-index: 75}
.page55{z-index: 74}

@-webkit-keyframes rightin{
  0%  {opacity: 1;-webkit-transform:translateX(100%)}
  100%  {opacity: 1;-webkit-transform:translateX(0)}
}
@-webkit-keyframes downin{
  0%  {opacity: 0;-webkit-transform:translateY(100%);}
  100%  {opacity: 1;-webkit-transform:translateY(0);}
}
@-webkit-keyframes upup{
  0%  {opacity: 1;top: 69%;z-index: 1}
  99%  {opacity: 1;top: 5%;z-index: 1}
  100%  {opacity: 1;top: 5%;z-index: 2}
}
@-webkit-keyframes rotatein2{
  0%    {opacity: 1;-webkit-transform:scale(0) translate3d(250%,50%,0);top: 8%;width: 23%;left: 38%}
  13%    {opacity: 1;-webkit-transform:scale(0.3) translate3d(0%,0%,0%);top: 8%;width: 43%;left: 28%}
  100%    {opacity: 1;-webkit-transform:scale(1) translate3d(0%,0%,0%);top: 12%;width: 90%;left: 5%}
}
.page6{z-index: 60}
  .form{position: absolute;top: 19%;left: 11%;width: 77%;height: 40%}
    .form>div{margin-bottom: 0.5rem;position: relative;}
    input,select{background-color: transparent;
    -webkit-appearance: none;font-size: 0.9rem;color: #000;
  box-sizing: border-box;height:2em;width: 100%;border: 1px solid #6497cc;
  padding-left: 8%;border-radius: 0px;}
  .box{display: -webkit-box;}
  .box div,.box select{-webkit-box-flex: 1;height: 1.8rem;border: 1px solid #6497cc;display: block;border-radius: 0px;}
  select{background-image: url(../img/sel.png);background-repeat: no-repeat;
    background-size: auto 50%;background-position: 92%;}
  .p6_name{position: absolute;top: 3%;left: 5%;width: 23%}
  .p6_mobile{position: absolute;top: 45%;left: 5%;width: 23%}
  .name,.mobile{padding-left: 34%;}
  .submit{position: absolute!important;top: 78%;left: 1%;width: 46%;height: 18%}
  .back{position: absolute!important;top: 78%;left: 45%;width: 52%;height: 18%}
  .male,.female{font-size: 0.9rem;text-align: center;color: #000;line-height: 1.8rem}
  .xing.bie{background: #034fa6;color: #fff}
  .mobiletxt,.nametxt{position: absolute;top: 0;left: 17%;font-size: 0.9rem;line-height: 1.8rem}

  .p6_letter{position: absolute;top: -8%;left: 8%;width: 83%;opacity: 0;overflow: hidden;}

  .p6_letteropen{position: absolute;top: 0;left: 0;width: 100%;opacity: 0}
    .show .p6_letteropen{-webkit-animation:fadein 1s 1s ease forwards;}
  .p6_openletter{position: absolute;top: 69%;left: 2.8%;width: 94%;}

  .p6_letterbottom{position: absolute;bottom: 0;left: 0;width: 100%;-webkit-transform-origin:50% 50%;z-index: 3}
    .show .p6_letter{-webkit-animation:rotatein2 1.2s 0s linear forwards;}
  .p6_jian{position: absolute;top: 67%;left: 2%;width: 96%;z-index: 2}
    .show .p6_jian{-webkit-animation:fadeout 0.4s 1.4s ease forwards;}
  .p6_lettertop{position: relative;z-index: 1;opacity: 0;}
    .show .p6_lettertop{-webkit-animation:fadein 0.4s 1.4s ease forwards;}
    .show .p6_openletter{-webkit-animation:upup 0.7s 1.5s ease forwards;}
  .p6_lastbottom{position: absolute;bottom: 0;left: 0;width: 100%;z-index: 10}
    /*.show .p6_letterbottom{-webkit-animation:fadein 0.4s 1.4s ease forwards;}*/


#iSlider-effect-wrapper {
position: absolute;top: 36%;left: 11%;width: 70%;
}

.iSlider-effect {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: 1px solid #000000;
}

.iSlider-effect ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.iSlider-effect li {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  list-style: none;
}
.iSlider-effect ul li img{
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.iSlider-effect div{
  background-color: #ffffff;
  padding: 3px;
}

#animation-effect {
  border: 0;
  width: 100%;
}


